<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Screen setter</title>
  <script src="{{ url_for('static', filename='js/index.js') }}" defer></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
  <h1>Create the new content for the display</h1>
  <div class="flex-container">
    <button onclick="enableInsertText()">Insert text</button>
    <button onclick="enableDraw()">Draw</button>
    <button onclick="enableErase()">Eraser</button>
    <button onclick="clearCanvas()">Clear</button>
  </div>
  <div class="flex-container">
    <label for="fontSize">Font size:</label>
    <input type="number" id="fontSize" name="fontSize" min="1" max="50" value="11">
  </div>
  <div class="flex-container">
    <label for="brushSize">Brush size:</label>
    <input type="number" id="brushSize" name="brushSize" min="1" max="100" value="3">
  </div>
  <div id="canvasDiv">
    <canvas id="screenCanvas" width="200" height="200"></canvas>
  </div>
  <div>
    <button onclick="upload()">Upload</button>
  </div>
</body>
</html>