:root {
    --element-background: #454545;
    --hover: #888888;
    --active: #aaaaaa;
}

body {
    background-color: #3c3c3c;
    margin: 0;
    color: #dddddd;
}

.main-container {
    display: flex;
    flex-direction: column;
}

#sidePanel {
    background-color: #171717;
    box-sizing: border-box;
    padding: 2rem;
    width: 100vw;
    height: fit-content;
}

@media (min-width: 33em) {
    .main-container {
        display: flex;
        flex-direction: row;
    }

    #sidePanel {
        width: fit-content;
        min-width: fit-content;
        height: 100vh;
        overflow-y: auto;
    }
}


::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: var(--element-background);
}

::-webkit-scrollbar-thumb {
    background-color: var(--hover);
}

::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-thumb:active {
    background-color: var(--active);
}

.sidebar-block {
    border-width: 1px 0 0 0;
    border-color: #ffffff;
    padding: 1rem 0 1rem 0;
    border-style: solid;
    display: flex;
    flex-direction: column;
}

.sidebar-block > * {
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
}

.sidebar-header {
    text-align: left;
    margin: 0 0 1rem 0.5rem;
    color: white;
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

.sidebar-top-block {
    text-align: center;
    margin: 0 0 1rem 0;
}

.button-bar {
    display: flex;
    gap: 7px
}

button {
    background-color: var(--element-background);
    border-radius: 5px;
    color: white;
    border-style: none;
    padding: 0.25rem;
}

button:hover {
    background-color: var(--hover);
}

button:active {
    background-color: var(--active);
}

input[type=number], input[type=text] {
    width: 3em;
    border-radius: 5px;
    border-style: solid;
    border-color: #787878;
    border-width: 2px;
    background-color: var(--element-background);
    color: white;
}

input[type=number]:focus, input[type=text]:focus {
    border-color: #c1c1c1;
    outline: none;
}

.grid-container {
    display: inline-grid;
    justify-content: start;
    grid-template-columns: auto auto;
    column-gap: 0.5em;
    row-gap: 0.5rem;
}

#rowInputDiv {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

select {
    background-color: var(--element-background);
    border-radius: 5px;
    border-color: var(--active);
    color: white;
}

select select {
    background-color: white;
}

.canvas-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin: 2em 0;
}

@media (min-width: 33em) {
    .canvas-container {
        height: 100vh;
        margin: 0;
    }
}

#canvasDiv {
    position: relative;
}

canvas {
    border-width: 2px;
    border-color: #171717;
    border-style: solid;
    touch-action: none;
}

#newText {
    position: absolute;
    border-style: none;
    background-color: transparent;
    color: black;
}

#newText:focus {
    border-width: 1px;
}
